@using Microsoft.EntityFrameworkCore.Query.SqlExpressions
@inject GroupRepository _groupRepo
@inject NavigationManager nav

<div class="md:flex flex-col md:flex-row md:min-h-screen w-full shadow-2xl rounded" >
  <div class="flex flex-col w-full md:w-64 text-gray-700 bg-gray-200 dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0">
    <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
      <img alt="Feedster logo" src="feedster-logo-full-transparent.png" @onclick="@(() => NavTo("/"))" class="cursor-pointer float-left"  Style="margin-left: -10px; max-width: 12em; vertical-align: middle;"/>
      <button class="rounded-lg md:hidden rounded-lg focus:outline-none focus:shadow-outline" @onclick="ToggleSidebar">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          @if (showSidebar)
          {
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          }
          else
          {
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          }
        </svg>
      </button>
    </div>
    <nav class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto @(showSidebar ? "" : "hidden")">
      <div @onclick="@(() => NavTo("/feeds/manage"))" class="@GetActive("feeds/manage", NavLinkMatch.All) mt-2 mb-2 bg-inherit focus:ring-2 pl-1 py-1 focus:bg-gray-300 focus:ring-black focus:outline-none text-lg cursor-pointer select-none hover:bg-gray-300 active:bg-gray-400 rounded-lg">
        <svg style="display:inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
        </svg>
        <a style="display:inline-block">Manage Feeds</a>
      </div>
      <p class="block px-2 mt-2 py-2 mt-2 text-lg font-bold text-gray-900 rounded-lg dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900">Folders</p>
      @foreach (var group in _groups)
      {
        <details class="@GetActive(group.GroupId.ToString(), NavLinkMatch.All) rounded-lg duration-300 mb-2" @onclick="@(() => NavTo(group.GroupId.ToString()))">
          <summary class="bg-inherit pl-3 py-1 text-lg cursor-pointer select-none hover:bg-gray-300 active:bg-gray-400 rounded-lg"><a>@group.Name</a></summary>
          <div class="@(group.Feeds.Any() ? "px-5 py-3" : "") text-sm">
            @foreach (var feed in group.Feeds)
            {
              <a class="cursor-pointer">@feed.Name</a>
            }
          </div>
        </details>
      }
      <div @onclick="@(() => NavTo("folder/create"))" class="@GetActive("folder/create", NavLinkMatch.All) bg-inherit focus:ring-2 pl-2 py-1 focus:bg-gray-300 focus:ring-black focus:outline-none text-lg cursor-pointer select-none hover:bg-gray-300 active:bg-gray-400 rounded-lg">
        <svg style="display:inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <a style="display:inline-block">new Folder</a>

      </div>
      <!--a class="hover:-translate-y-1 p-2 hover:scale-101 transition align-middle bottom-0 mb-2 position-absolute block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 rounded-lg dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200  focus:ring-2 focus:outline-none  focus:ring-gray-600 dark:focus:ring-gray-700 focus:bg-gray-200 focus:shadow-md" href="#">Settings</!--a-->
    </nav>
  </div>
</div>

@code{
  List<Group> _groups;
  private static bool showSidebar = false;
  
  protected override async Task OnInitializedAsync()
  {
    nav.LocationChanged += (s, e) => StateHasChanged();
    await DataLoad();
  }
  private async Task NavTo(string navlink)
  {
    nav.NavigateTo(navlink, forceLoad: true);
  }
  
  private async Task DataLoad()
  {
    _groups = await _groupRepo.GetAll();
  }

  private async Task ToggleSidebar()
  {
    showSidebar = !showSidebar;
  }
  
  // for marking active navbar tab
  bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
  {
    var relativePath = nav.ToBaseRelativePath(nav.Uri).ToLower();
    return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
  }
  
  string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "ring-2 bg-gray-300 ring-black outline-none" : "";
}